/.gitignore
/.idea
/ProjectPlanner/app/bootstrap.php.cache
/ProjectPlanner/app/cache/*
!ProjectPlanner/app/cache/.gitkeep
/ProjectPlanner/app/config/parameters.yml
/ProjectPlanner/app/logs/*
!ProjectPlanner/app/logs/.gitkeep
/ProjectPlanner/app/phpunit.xml
/ProjectPlanner/bin/
/ProjectPlanner/composer.phar
/ProjectPlanner/vendor/
/ProjectPlanner/web/bundles/
!ProjectPlanner/web/bundles/projectplanner
/ProjectPlanner/.idea
/ProjectPlanner/web/.DS_store

