{% block main -%}

        <h1>Użytkownik</h1>

        <table class="record_properties">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>E-mail</th>
            </tr>
            <tr>
                {#<td>{{ entity.id }}</td>#}
                {#<td>{{ entity.username }}</td>#}
                {#<td>{{ entity.email }}</td>#}
            </tr>
            </tbody>
        </table>

{% endblock %}
